.modal-add-table-grid{
    .grid-creator{
        
        .grid-row{
            display: grid;
            grid-template-columns: repeat(auto-fit, 60px);
            height: 30px;
            .column{
                border: 1px solid black;
                &:last-child{
                    border-left: none;
                }
            }
        }
    }
    
}