.vm--container{
    .vm--overlay{
        background: rgba(16, 68, 74, 0.6);
    }
    .vm--modal{
        background-color: $color-white-background;
        color:$color-black-fonts;
        border-radius: 5px;
        height: auto !important;

        &.modal-top{
            top:20%!important;
        }

        &.modal-lg{
            top:40px !important;
            width: 600px !important;
           // height: 80% !important;
        }

        .modal-custom{
            position: relative;
            height: 100%;
            .modal-header{
                padding: 5px 20px;
                display: flex;
                border-bottom: 1px solid $color-border-designer;
                .titre-modal{
                    width: 80%;
                    h3{
                        margin: 0;
                        width: 80%;
                    }
                }
                
                .close-modal{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    span{
                        cursor: pointer;
                    }
                }
            }
            .modal-content{
                padding: 30px 100px;
                @include font-m;
                color:$color-black-fonts-second;
                font-family: $font-family-text;
                .question{
                    @include font-m-bold;
                }
            }
            .modal-footer{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .actions{
                    display: flex;
                    margin: 20px;
                    .link{
                        @include blue-link;
                        line-height: 50px;
                        margin-right: 10px;
                    }
                    .btn{
                        &:not(:first-child){
                            margin-left: 10px;
                        }
                    }
                }
            }

            &.modal-download-succes{
                .modal-content{
                    @include font-m-sbold;
                    padding: 10px 40px;
                    .thnks{
                        text-align: center;
                    }
                    .infolettre{
                        @include font-xm;
                        p{
                            margin-bottom: 0;
                        }

                        .email-send{
                            .form-control{
                                border-top-right-radius: 0 !important;
                                border-bottom-right-radius: 0 !important;
                                border-right-color: transparent;
                                @include font-xm;
                            }

                            .btn-default{
                                border-top-left-radius: 0 !important;
                                border-bottom-left-radius: 0 !important;
                                height: 50px;
                                margin-top: 16px;
                            }
                        }
                    }
                    .infolettre-succes {
                        @include font-xm;
                        text-align: center;
                    }
                    .reseaux-sociaux{
                        @include font-xm;
                        text-align: center;
                        p{
                            margin-bottom: 0;
                        }
                        .liste-reseaux{
                            @include font-l;
                            margin-top: 14px;
                            .lien{
                                cursor: pointer;
                                &:not(:last-child){
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            &.modal-open-designer{
                .modal-content{
                    padding: 10px 30px;
                    text-align: center;
                    @include font-xm-sbold;
                    /*p{
                        margin-top: 0;
                    }
                    .zone-text{
                        min-height: 60px;
                    }
                    .sliders{
                        height: auto;
                        width: 100%;
                        .images{
                            height:300px;
                            width: 100%;
                            background-color: green;
                            border-radius: 5px;
                        }
                        .slides{
                            display: flex;
                            justify-content: center;
                            margin-top: 10px;
                            .slide{
                                height: 10px;
                                width: 10px;
                                border-radius: 50%;
                                border:1px solid $color-soccer-coach;
                                &:not(:last-child){
                                    margin-right: 10px;
                                }

                                &.active{
                                    background-color: $color-soccer-coach;
                                }
                            }
                        }
                    }*/
                }
                .modal-footer{
                    display: inline;
                    .actions{
                        margin: 10px 30px;
                        height: 100%;
                        display: block;
                            
                        .link{
                            font-size: 14px!important;
                            float: left;
                        }
                        .btn{
                            float: right;
                        }
                    }
                }
            }
        }

        &.modal-s{
            left: 35%!important;
            width: 400px !important;
            height: 270px!important;
            .modal-custom{
                .modal-content{
                    padding: 10px 30px;
                }
                .modal-footer{
                    position: relative;
                    height:auto;
                    .actions{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin: 5px;
                        .btn{
                            &:not(:first-child){
                                margin-left: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}
