.modal-add-alignement{
    .modal-content{
        padding: 30px 50px !important;
        h4{
            margin-top: 0;
        }
        .liste-players{
            .players{
                display: grid;
                grid-template-rows: 4;
                grid-row-gap: 20px;
                margin-bottom: 20px;
                .items-player{
                    display: grid;;
                    grid-column-gap: 5px;
                    .item-player{
                        width: auto;
                        &:not(:last-child){
                            margin-right: 2px;
                        }
                        display: flex;
                        justify-content: center;
                        
                        select{
                            height: 30px;
                            background: #FDFDFD;
                            border: 1px solid #979797;
                            box-sizing: border-box;
                            border-radius: 5px;
                        }
                    }
                }
                .gardien{
                    grid-template-columns: repeat(1, 1fr);
                    select{
                        width: 100px;
                        border-color:  #947E37 !important;
                    }
                }
                .defenseurs{
                    .item-player{
                        select{
                            border-color:  #942F3B !important;;
                        }
                    }
                }
                .milieux{
                    select{
                        border-color:  #4D5894 !important;;
                    }
                }
                .attaquants{
                    select{
                        border-color:  #BE40C7 !important;;
                    }
                }
                &.systeme-4-4-2{
                    .defenseurs{
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .milieux{
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .attaquants{
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                &.systeme-4-3-3{
                    .defenseurs{
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .milieux{
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .attaquants{
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
                &.systeme-3-5-2{
                    .defenseurs{
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .milieux{
                        grid-template-columns: repeat(5, 1fr);
                    }
                    .attaquants{
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                &.systeme-3-4-3{
                    .defenseurs{
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .milieux{
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .attaquants{
                        grid-template-columns: repeat(3, 1fr);
                    }
                } 
                &.systeme-4-5-1{
                    .defenseurs{
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .milieux{
                        grid-template-columns: repeat(5, 1fr);
                    }
                    .attaquants{
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
                &.systeme-5-3-2{
                    .defenseurs{
                        grid-template-columns: repeat(5, 1fr);
                    }
                    .milieux{
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .attaquants{
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
                &.systeme-4-2-4{
                    .defenseurs{
                        grid-template-columns: repeat(4, 1fr);
                    }
                    .milieux{
                        grid-template-columns: repeat(2, 1fr);
                    }
                    .attaquants{
                        grid-template-columns: repeat(4, 1fr);
                    }
                }
            }
            h6{
                margin: 0;
                margin-bottom: 10px;
            }
            .alignement{
                margin-top: 20px;
                background-color: #47b55e;
                padding: 20px;
                border-radius: 20px;
                .borders{
                    border:2px solid white;
                    padding: 20px 0px;
                    border-radius: 20px;
                    >div{
                        height: 30px;
                        background-color: #3e9350;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:not(:first-child){
                            margin-top: 30px;
                        }
                        >div{
                            text-align: center;
                            text-decoration: underline;
                            color: $color-white-fonts;
                            @include font-xm;
                        }
                    }

                }
            }
        }
    }
}