.vm--container{
    position: absolute!important;
    display: flex;
    justify-content: center;
    align-items: center;
    .vm--overlay{
        background: rgba(16, 68, 74, 0.8);
    }
    .vm--modal{
        background-color: $color-white-background;
        color:$color-black-fonts;
        border-radius: 5px;
        height: auto !important;
        left:0 !important;

        &.modal-top{
            top:10%!important;
        }

        &.modal-large-top{
            //left: 45px;
            width: 800px !important;
            top:5% !important;

            @media screen and (max-width: $screen-sm) {     
                width: 90% !important;
            }
            
            @media screen and (min-width: $screen-lg-x) {  
                top:5% !important;
                width: 100% !important;
            }
        }

        &.modal-lg{
            top:40px !important;
            width: 600px !important;
            @media screen and (max-width: $screen-sm) {     
                width: 100% !important;
            }
            @media screen and (min-width: $screen-lg-x) {    
                top: 20% !important;
            }
        }

        &.modal-lg2{
            top:3% !important;
            width: 600px !important;
            @media screen and (max-width: $screen-sm) {     
                width: 100% !important;
                top: 8% !important;
            }
        }

        @media screen and (max-width: $screen-sm) {
            left: 0 !important;
            width: 100% !important;
        }

        .modal-custom{
            position: relative;
            height: 100%;

            .modal-header{
                padding: 10px 20px;
                display: grid;
                border-bottom: 1px solid $color-border-designer;
                grid-template-columns: 9fr 1fr;
                .titre-modal{
                    h3{
                        margin: 0;
                        width: 98%;
                    }
                    span{
                        cursor: pointer;
                    }
                }
                
                .close-modal{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    span{
                        cursor: pointer;
                        &:not(.menu){           
                            height: 30px;
                            width: 30px;
                            background: $color-border-designer;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &:hover{
                                background: #bfbfbf;
                                
                            }
                        }
                    }
                }

                @media screen and (max-width: $screen-sm) {
                    padding: 10px 20px;
                }
            }

            .modal-content{
                padding: 30px 100px;
                @include font-m;
                color:$color-black-fonts-second;
                font-family: $font-family-text;
                .question{
                    @include font-m-bold;
                }
                @media screen and (max-width: $screen-sm){
                    padding: 30px 50px;
                }

                .form-control-textarea{
                    height: 200px;
                }
            }

            .modal-footer{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .actions{
                    display: flex;
                    margin: 20px;
                    .link{
                        @include blue-link;
                        line-height: 50px;
                        margin-right: 10px;
                    }
                    .btn{
                        &:not(:first-child){
                            margin-left: 10px;
                        }
                    }
                    
                    @media screen and (max-width: $screen-sm) {
                        display: block;
                        .btn{
                            width: 100%;
                            &:not(:first-child){
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }

            &.modal-download-succes{
                .modal-content{
                    @include font-m-sbold;
                    padding: 10px 40px;
                    .thnks{
                        text-align: left;
                    }
                    .reseaux-sociaux{
                        margin-top: 50px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 80px;
                        @include font-xm;
                        text-align: center;
                        p{
                            margin-bottom: 0;
                        }
                        
                        .image-reseau{
                            img{
                                width: 150px;
                                
                                @media screen and (max-width: $screen-sm) {
                                    width: 100px;
                                }
                            }
                            justify-self: flex-end;
                        }
                        .list-resaux{
                            h3{
                                color:$color-black-fonts;
                                @include font-m-sbold;
                                text-align: left;
                            }
                        }
                    }
                }
            }

            &.modal-open-designer{
                .modal-content{
                    padding: 10px 30px;
                    text-align: center;
                    @include font-xm-sbold;
                    .slider-component{
                        .sliders{
                            .images{
                                img{
                                    object-fit: fill;
                                    border-radius: 5px;
                                    box-shadow: 0px 4px 10px rgba(201, 201, 201, 0.6);
                                }
                            }
                        }
                    }
                }
                .modal-footer{
                    display: inline;
                    .actions{
                        margin: 10px 30px;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;
                            
                        .link{
                            font-size: 14px!important;
                        }
                    }
                }
            }

            &.modal-add-exericice{
                
                .modal-content{
                    padding: 30px 30px;
                    .form-group{
                        margin-bottom: 15px;
                    }
                    
                    .form-group-flex{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 15px;
                        .image-upload{
                            @include image-upload;
                            svg{
                                margin-right: 5px;
                            }
                        }
                        .btn{    
                            &.with-image{
                                background-color: #A7E9CA;
                                border:2px solid #22C77B;
                                color:#0E5031;
                            }
                        }

                        @media screen and (max-width: $screen-sm) {  
                            grid-template-columns: 1fr;      
                            .btn-esdesigner{
                                display: none;
                            }
                        }
                    }
                }

                .modal-footer{
                    .btn{
                        border:2px solid $color-soccer-coach;
                        &:hover{
                            border:2px solid #208994;
                        }
                        &.disabled{
                            background-color: #C9C9C9;
                            cursor: auto;
                            &:hover{
                                background-color: #C9C9C9;
                            }
                        }
                    }
                }

                &.populars{
                    .modal-content{
                        h4{
                            margin-top: 0;
                            svg{
                                color:$color-yellow;
                            }
                        }
                        .liste-exercices{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-gap: 20px;
                            .item-exercice{
                                height: 150px;
                                background: $color-white-background;
                                box-shadow: 1px 1px 5px 1px rgba(201, 201, 201, 0.4);
                                border-radius: 5px;
                                cursor: pointer;
                                .image-exercice-item{
                                    height: 95px;
                                    width: 100%;
                                    position: relative;
                                    img{
                                        border-top-left-radius: 5px;
                                        border-top-right-radius: 5px;
                                        width: 100%;
                                        height: 100%;
                                    }
                                    .type{
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        width: auto;
                                        padding: 2px 4px;
                                        @include font-s-sbold;
                                        font-family: $font-family-text;
                                        color: #0E2650;
                                        background-color: #A7BFE9;
                                        border-top-left-radius: 5px;
                                    }
                                }
                                .description-exercice-item{
                                    padding: 3px 10px;
                                    font-family: Lato;
                                    @include font-s-bold;
                                    color:$color-black-fonts;
                                }
                                &:hover{
                                    box-shadow: 1px 1px 5px 1px rgba(201, 201, 201, 0.8);
                                }
                            }
                            @media screen and (max-width: $screen-sm) {
                                grid-template-columns: 1fr;
                                .item-exercice{
                                    height: auto;
                                    .image-exercice-item{
                                        height: auto
                                    }
                                    .description-exercice-item{
                                        padding: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.modal-add-activity{
                .modal-content{
                    height: 500px;
                    overflow-y: scroll;
                }
            }
        }

        &.modal-s{
            //left: 35%!important;
            width: 400px !important;
            height: 270px!important;
            top:0px !important;
            @media screen and (max-width: $screen-sm) {
                //left: 25%!important;
            }
            @media screen and (max-width: $screen-xs) {
                left: 0!important;
                width: 100vw!important;
                height: auto!important;
            }
            @media screen and (min-width: $screen-lg-x) {
                left: 40%!important;
            }
            .modal-custom{
                .modal-content{
                    padding: 10px 30px;
                }
                .modal-footer{
                    position: relative;
                    height:auto;
                    .actions{
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                        margin: 5px;
                        padding: 0 20px;
                        .btn{
                            &:not(:first-child){
                                margin-left: 10px;
                            }
                        }
                        @media screen and (max-width: $screen-xs) {
                            display: block;
                            padding-bottom: 20px;
                            .btn{
                                margin-top: 20px;
                                &:not(:first-child){
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    &.scrollable{
        .vm--modal {
            margin-bottom: 20px!important;
            &.modal-lg2{
                top: 10px !important;
                
                @media screen and (min-width: $screen-lg-x) {    
                    top: 20% !important;
                }
            }
        }
    } 
}
