.add-activity{
    .is-game{
        cursor: pointer;
        color: $color-icons-designer;
        font-size: 25px;
        margin-bottom: 20px;
        .label{
            @include font-m-sbold;
            font-family: $font-family-text;
            line-height: 0px;
            margin-bottom: 10px;
        }
    }

    .footer-form{
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .error{
        display: flex;
        justify-content: flex-end;
        color:$color-red;
        @include font-xm;
    }
}