.creation-exercice{
    background-color: #FDFDFD;

    .menu-top{
        border-bottom: 1px solid $color-border-designer;
        height: 20px;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: 300px 2fr 1fr;

        .icon-action{
            cursor: pointer;
            color: $color-icons-designer;
            font-size: 18px;
        }

        .principal-items{
            display: flex;
            align-items: center;

            .actions-s{
                width: 100%;
                display: flex;
                justify-content: center;
                svg{
                    margin-right: 10px;
                }
            }
        }
        .secondary-items{
            display: flex;
            align-items: center;
            padding-left: 20px; 
            border-left: 1px solid $color-border-designer;
            
            svg, .objects{
                margin-right: 10px;
            }
            .second-items{
                margin-left:50px;
                border-right: 1px solid $color-border-designer;
                padding-right: 10px;
                position: relative;

                .add-number{
                    display: inline;
                    position: relative;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    color: $color-icons-designer;
                    font-size: 18px;
                    .number{
                        @include font-s-sbold;
                        color:$color-white-fonts;
                        position: absolute;
                        left: 6px;
                        font-family: $font-family-text;
                        line-height: 22px;
                    }
                }

                .select-couleurs{
                    position: absolute;
                    bottom: -51px;
                    left: 20px;
                    background-color: #FBFBFB;
                    border-radius: 5px;
                    box-shadow: 1px 1px 4px 1px rgba(201, 201, 201, 0.25);
                    border:1px solid rgba(201, 201, 201, 0.25);
                    padding: 10px;
                    z-index: 40;
                    .liste-couleurs{
                        display: flex;
                        >div{
                            width: 21px;
                            height: 21px;
                            border:1px solid $color-border-designer;
                            &:not(:last-child){
                                margin-right: 10px;
                            }
                            cursor: pointer;
                        }
                    }
                    .arrow-up{
                        width: 0; 
                        height: 0; 
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid rgba(201, 201, 201, 0.50);
                        position: absolute;
                        top:-10px;
                        left:45%;
                    }
                }
                .select-formes{
                    position: absolute;
                    top: 29px;
                    left: -11px;
                    background-color: #FBFBFB;
                    border-radius: 5px;
                    box-shadow: 1px 1px 4px 1px rgba(201, 201, 201, 0.25);
                    border:1px solid rgba(201, 201, 201, 0.25);
                    z-index: 40;
                    .liste-formes{
                        .item-forme{
                            @include font-xm-mbold;
                            padding: 8px 20px;
                            cursor: pointer;
                            font-family: $font-family-text;
                            color:$color-black-fonts-second;
                            &:hover{
                                background-color: #D4EEF1;
                            }
                            .icon{
                                width: 1.2em;
                                height: 1.2em;
                                fill:none;
                                stroke: currentColor;
                            }
                        }
                    }
                    .arrow-up{
                        width: 0; 
                        height: 0; 
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid rgba(201, 201, 201, 0.50);
                        position: absolute;
                        top:-10px;
                        left:45%;
                    }
                }
                .select-transparence{
                    position: absolute;
                    top: 29px;
                    right: -70px;
                    background-color: #FBFBFB;
                    border-radius: 5px;
                    box-shadow: 1px 1px 4px 1px rgba(201, 201, 201, 0.25);
                    border:1px solid rgba(201, 201, 201, 0.25);
                    z-index: 40;

                    .arrow-up{
                        width: 0; 
                        height: 0; 
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid rgba(201, 201, 201, 0.50);
                        position: absolute;
                        top:-10px;
                        left:45%;
                    }
                    .liste-formes{
                        font-family: $font-family-text;
                        color:$color-black-fonts-second;
                        @include font-xm-mbold;
                        padding: 10px;
                    }
                }
            }

            .objects{ 
                cursor: pointer;
                svg{
                    margin-right: 2px;
                }
                .transparence-select{
                    color:$color-icons-designer;
                    @include font-m;
                    font-family: $font-family-text;
                    cursor: pointer;
                }
                &.inactive{
                    .transparence-select{
                        color:#ADADAD!important;
                        cursor:auto!important;
                    }
                }
            }
        }
        .third-items{
            display: flex;
            align-items: center;
            padding-left: 20px;
            svg, .objects{
                margin-right: 10px;
            }
        }
        .actions{
            display: flex;
            justify-content: flex-end;
            .fa-download, .fa-save{
                color:$color-soccer-coach;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .inactive{
            color:#ADADAD;
            cursor:auto !important;
        }
    }

    .content{
        display: grid;
        grid-template-columns: auto 1fr;
        min-height: 80vh;

        .menu-left{
            display: flex;
            .items-menu{
                width: 60px;
                border-right: 1px solid $color-border-designer;
                padding-top: 30px;
                position: relative;
                z-index: 9;
                >div{
                    cursor: pointer;
                    height: 32px;
                    font-size: 28px;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-icons-designer;
                    &.active{
                        background-color: #A9DDE3;
                        color:#18676F;
                    }
                }
            }
            .content-item{
                width: 260px;
                border-right: 1px solid $color-border-designer;
                padding-top: 30px; 
                transition: all .3s;
                position: relative;
                z-index: 8;
                background-color: #f5f5f5;
                >div{
                    h3{
                        @include h3;
                        color:$color-black-fonts;
                        margin: 0;
                        margin-left: 10px;
                        line-height: 50px;
                    }
                }
                h4{
                    @include h4;
                    color:$color-text-onglets;
                    margin: 0;
                    margin-left: 10px;
                    line-height: 50px;
                }
                .content-item-terrains{
                    height: 100%;
                    .onglets{
                        display: flex;
                        width: 100%;
                        .item-onglet{
                            width: 50%;
                            background-color:$color-background-onglets;
                            padding: 7px;
                            text-align: center;
                            @include font-xm-sbold;
                            color:$color-text-onglets;
                            font-family: $font-family-text;
                            cursor: pointer;

                            &.active{
                                border-bottom: 3px solid $color-border-bottom-onglet;
                                font-weight: 900;
                            }
                        }
                    }
                    .content-onglet{
                        padding: 10px;
                        height: 350px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        @media screen and (min-width: $screen-lg-x) {
                            height: 600px;
                        }
                        .item-terrain-sl{
                            height: 122px;
                            width: 100%;
                            border-radius: 5px;
                            cursor: pointer;
                            margin-bottom: 20px;
                            img{
                                width: 100%;
                                object-fit: cover;
                                border-radius: 5px;
                            }
                        }
                        .item-terrain-al{
                            height: 122px;
                            width: 100%;
                            background-color: red;
                            border-radius: 5px;
                            cursor: pointer;
                            margin-bottom: 20px;
                        }
                    }
                }
                .content-item-joueurs{
                    .item-joueur-simple{
                        display: flex;
                        padding: 0px 10px;
                        .joueur-add{
                            margin-right: 10px;
                            cursor: pointer;
                            font-size: 28px;
                            &.gardien{
                                font-size: 29px;
                            }
                            .icon{
                                height: 1em;
                                width: 1em;
                                &.red{
                                    fill:$color-red;
                                }
                                &.blue-claro{
                                    fill:$color-soccer-coach;
                                }
                                &.yellow{
                                    fill:$color-yellow;
                                }
                                &.black{
                                    fill:$color-black;
                                }
                                &.gardien-green{
                                    fill:$color-gardien-green;
                                }
                                &.gardien-orange{
                                    fill:$color-gardien-orange;
                                }
                                &.gardien-mauve{
                                    fill:$color-gardien-mauve;
                                }
                                
                                background: transparent !important;
                            }
                        }
                    }
                    .item-joueur-text{
                        display: flex;
                        padding: 0px 10px;
                        .with-text{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;
                            cursor: pointer;
                            font-size: 28px;
                            .txt{
                                position: absolute;
                                color:$color-white-fonts;
                                cursor: pointer;
                            }
                            .icon{
                                height: 1em;
                                width: 1em;
                                &.red{
                                    fill:$color-red;
                                }
                                &.blue-claro{
                                    fill:$color-soccer-coach;
                                }
                                &.yellow{
                                    fill:$color-yellow;
                                }
                                &.black{
                                    fill:$color-black;
                                }
                                
                                background: transparent !important;
                            }
                        }
                    }
                    .item-joueur-mouvement{
                        display: flex;
                        padding: 0px 10px;
                        flex-wrap: wrap;
                        //height: 200px;
                        //overflow: scroll;
                        //overflow-x: hidden;

                        .joueur-add-img{
                            width: 50px;
                            height: 30px;
                            &:not(:last-child){
                                margin-right: 2px;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all 0.5s;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .content-item-outils{
                    height: 100%;
                    .content-outils{
                        height: 400px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        @media screen and (min-width: $screen-lg-x) {
                            height: 600px;
                        }
                        .items-outils{
                            display: flex;
                            padding: 0px 10px;
                            flex-wrap: wrap;
                            .outil-li-div{
                                height: 60px;
                                width: 60px;
                                margin-right: 16px;
                                &:not(:last-child){
                                    margin-bottom: 16px;
                                }
                                &.cones{
                                    height: 30px;
                                    width: 30px;
                                }
                                img{
                                    height: 100%;
                                    width: 100%;
                                    transition: all 0.5s;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .content-item-lignes{
                    height: 100%;
                    .content-lines{
                        height: 410px;
                        overflow-y: auto;
                        overflow-x: hidden;
                        @media screen and (min-width: $screen-lg-x) {
                            height: 600px;
                        }
                        .items-lignes{
                            display: flex;
                            padding: 0px 10px;
                            flex-wrap: wrap;
                            .ligne-li-div{
                                height: 50px;
                                width: 50px;
                                &:not(:last-child){
                                    margin-bottom: 16px;
                                }
                                img{
                                    //height: 50px;
                                    width: 100%;
                                    height: 100%;
                                    transition: all 0.5s;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .btn-show-menu{
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    color:$color-icons;
                    cursor: pointer;
                }

                &.show-menu-left{
                    display: none;
                }
            }
        }

        .content-terrain{
            padding: 20px;
            position: relative;
            .terrain-space{
                position: relative;
                height: 100%;
                width: 80%;
                box-shadow: 2px 2px 10px 1px rgba(201, 201, 201, 0.6);
                background-image: url('../../assets/images/terrain/terrain11.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                border-radius: 3px;

                &.mode-play{
                    cursor: crosshair;
                    .object-selected-outil {
                        border:none;
                        img{
                            border: 2px dashed $color-secondary-4;
                        }
                    }
                    .drag-rotate{
                        .rotate{
                            display: none;
                        }
                    }
                }

                .tableau-canvas{
                    height: 100%;
                    width: 100%;
                    position: relative;
                    canvas{
                        height: 100%;
                        width: 100%;
                        background-color: red;
                    }
                }

                .drag-joueur{
                    position: absolute;
                    -webkit-transform: translate(0px, 0px);
                            transform: translate(0px, 0px);
                    z-index: 30;
            
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    .text-player{
                        position: absolute;
                        color:$color-white-fonts;
                        @include font-s;
                        font-family: $font-family-text;
                        letter-spacing: 2px;
                    }
            
                    img{
                        width: 26px;
                        height: 26px;
                    }
            
                    p{
                        text-align: center;
                        font-weight: bold;
                        color:$color-black-fonts;
                    }
                }

                .drag-joueur-img{
                    position: absolute;
                    -webkit-transform: translate(0px, 0px);
                            transform: translate(0px, 0px);
                    z-index: 30;
                    height: 70px;
                    width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 50px;
                        height: 30px;
                    }
                }

                .object-selected-outil {
                    border: 1px dashed $color-black;
                }

                .drag-rotate{
                    width: 70px;
                    height: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    .rotate{
                        position: absolute;
                        top:-18px;
                        left:-17px;
                        font-size: 15px;
                        cursor: pointer;
                        color: $color-black;
                    }
                }

                .drag-number{
                    position: absolute;
                    -webkit-transform: translate(0px, 0px);
                    transform: translate(0px, 0px);
                    z-index: 35;
                    .number-object{
                        height: 30px;
                        width: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        padding: 10px;

                        .circle{                     
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            background-color: $color-blue-blackground;
                            border:1px solid $color-white-background;
                        }
    
                        /**img{
                            width: 25px;
                            height: 25px;
                        }*/
                        .number{
                            @include font-s-sbold;
                            color:$color-white-fonts;
                            position: absolute;
                            font-family: $font-family-text;
                            line-height: 32px;
                        }
                    }
                }

                .drag-text{
                    position: absolute;
                    -webkit-transform: translate(0px, 0px);
                    transform: translate(0px, 0px);
                    z-index: 30;
            
                    &.drag-rotate {
                        width: auto;
                        height: auto;
                        padding: 5px;
                    }

                    .text-input{
                        input{
                            background: transparent;
                            border:none;
                            text-align:center;
                            color:$color-black-fonts;
                            @include font-m-sbold;
                            &:focus {
                                outline: none;
                                //border:1px solid $color-black;
                                background-color: rgba(170, 170, 170, 0.2);
                            }
                        } 
                    } 
                }

                .drag-outil{
                    position: absolute;
                    -webkit-transform: translate(0px, 0px);
                            transform: translate(0px, 0px);
                    z-index: 30;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;

                    &.drag-rotate{
                        height: auto;
                        width: auto;
                    }

                    &.but-object{
                        padding: 25px;
                    }
                }

                .drag-forme{
                    position: absolute;
                    -webkit-transform: translate(0px, 0px);
                    transform: translate(0px, 0px);
                    z-index: 25;
                    padding: 10px;
                    width: 200px;
                    height: 200px;
                    &.forme-line-v{
                        height: 200px;
                        width: 100px;
                        display:flex;
                        justify-content: center;
                    }
                    &.forme-line-h{
                        height: 100px;
                        width: 200px;
                        display:flex;
                        align-items: center;
                    }
                    
                    .square{
                        width: 100%;
                        height: 100%;
                        &.border-lines{
                            border: 2px solid white;
                        }
                        &.fill-none{
                            background: none;
                            border: 2px solid white;
                        }
                    }

                    .forme-img{
                        height: 100%;
                        width: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .forme-red-color{
                        background:rgba($color:$color-red, $alpha: 1);
                    }
                    .forme-blue-color{
                        background:rgba($color:$color-soccer-coach, $alpha: 1);
                    }
                    .forme-yellow-color{
                        background:rgba($color:$color-yellow, $alpha: 1);
                    }
                    .forme-black-color{
                        background:rgba($color:$color-black, $alpha: 1);      
                    }
                    .forme-green-color{
                        background:rgba($color:$color-gardien-green, $alpha: 1);
                    }
                    .forme-white-color{
                        background:rgba($color-white-background, $alpha: 1);
                    }

                    .line-h{
                        width: 100%;
                        height: 2px;
                        border:none;
                    }

                    .line-v{
                        width: 2px;
                        height: 100%;
                        border:none;
                    }
                }

                .drag-arrow{
                    position: absolute;
                    -webkit-transform: translate(0px, 0px);
                    transform: translate(0px, 0px);
                    z-index: 25;
                    padding: 10px;
                    width: auto;
                    height: 120px;

                    img{
                        height: 100%;
                        width: 100%;
                        padding: 1px;
                    }

                    &.object-selected-outil{
                        border:none;
                        img{
                            border: 1px dashed $color-black;
                        }
                    }
                }

                .drag-grid-object{
                    width: 350px;
                    height: 150px;
                    padding: 10px;
                    .grid-row{
                        display: grid;
                        //grid-template-columns: repeat(auto-fit, 60px);
                        grid-template-rows: 100%;
                        height: 100%;
                        width: 100%;

                        &.grid-columns-2{
                            grid-template-columns: repeat(2, 1fr);
                        }
                        &.grid-columns-3{
                            grid-template-columns: repeat(3, 1fr);
                        }
                        &.grid-columns-4{
                            grid-template-columns: repeat(4, 1fr);
                        }

                        &.grid-row-2{
                            height: 50%;
                        }
                        &.grid-row-3{
                            height: 32%;
                        }
                        &.grid-row-4{
                            height: 24.3%;
                        }

                        border-bottom: 2px solid white;
                        &:first-child{
                            border-top: 2px solid white;
                        }

                        .column{
                            border-right: 2px solid white;
                            &:first-child{
                                border-left: 2px solid white;
                            }
                        }
                    }
                }
                
            }
            .help{
                position: absolute;
                bottom: 20px;
                right: 20px;
                .question{
                    height: 40px;
                    width: 40px;
                    background-color: $color-white-background;
                    border:1px solid $color-border-designer;
                    border-radius: 50%;
                    box-shadow: 1px 1px 4px 1px rgba(201, 201, 201, 0.25);
                    color: $color-black-fonts-second;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    cursor: pointer;
                    &:hover{
                        height: 41px;
                        width: 41px;
                        font-size: 17px;
                    }
                    &.clicked{
                        height: 41px;
                        width: 41px;
                        font-size: 17px;
                    }
                }
                .lst-options-help{
                    position: absolute;
                    left: -80px;
                    top:-5px;
                    height: auto;
                    .options{
                        >div{
                            @include font-s-sbold;
                            color:$color-black-fonts-second;
                            font-family: $font-family-text;
                            width: 80px;
                            >div{
                                float: right;
                                width: 60px;
                                background-color: $color-white-background;
                                border:1px solid $color-border-designer;
                                padding: 1px;
                                text-align: center;
                                box-shadow: 1px 1px 4px 1px rgba(201, 201, 201, 0.25);
                                cursor: pointer;
                                border-radius: 3px;
                                margin-bottom: 1px;
                                &:hover{
                                    background-color: $color-border-designer;
                                }
                                a{
                                    @include font-s-sbold;
                                    color:$color-black-fonts-second;
                                    font-family: $font-family-text;
                                    text-decoration: none;
                                }
                            }
                            
                            &:nth-child(2){
                                >div{
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
            .menu-rigth-terrain{
                position: absolute;
                top:20px;
                right: 20px;
            }
        }
    }
}