body{
    min-height: auto;
}
.create-seance{
    background-color: #FDFDFD;
    min-height: 80vh;
    .contenant{
        display: grid;
        grid-template-columns: 1fr 3fr;
        .steps{
            border-right: 1px solid $color-border-designer;       
            padding-top: 60px;
            display: flex;
            justify-content: center;
            .steps-content{
                h2{
                    @include h2;
                    color:$color-black-fonts;
                }
                text-align: center;

                .back-home{
                    text-align: left;
                    .link{
                        @include blue-link;
                        @include font-s-sbold;
                    } 
                } 
    
                .lst-steps{
                    margin-bottom: 32px;
                    .step{
                        &:not(:last-child){      
                            &::after{
                                content: '';
                                height: 40px;
                                width: 5px;
                                background-color: $color-gris-1;
                                display: block;
                                margin-left: 22px;
                            }
                        }
                        .step-content{     
                            display: flex;
                            .number{
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                background-color: $color-gris-1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                @include font-l-mbold;
                                color:$color-black-fonts;
                                font-family: $font-family-text;
                            }
                            .name{
                                @include font-m-bold;
                                color:$color-gris-1;
                                font-family: $font-family-text;
                                line-height: 50px;
                                margin-left: 16px;
                            }
                        }
    
                        
                        &.active{
                            .step-content{     
                                .number{
                                    background-color: $color-soccer-coach;
                                    color:$color-white-fonts;
                                }
                                .name{
                                    color:#646464;
                                }
                            }
                        }
    
                        &.completed{
                            &:not(:last-child){      
                                &::after{
                                    background-color: $color-soccer-coach;
                                }
                            }
    
                            .step-content{   
                                .number{
                                    background-color: $color-soccer-coach;
                                    color:$color-white-fonts;
                                }
                                .name{
                                    color:#646464;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content{
            padding: 30px 150px;
            margin-top: 0;
            h3{
                @include h3;
                color:$color-black-fonts;
            }
            .form-content{
                .form-group{
                    margin-bottom: 15px;
                }
                
                .form-group-flex{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 15px;
                }
            }
    
            .actions{
                margin-top: 32px;
                display: flex;
                justify-content: flex-end;
                .btns{
                    .btn{
                        &:not(:last-child){
                            margin-right: 15px;
                        }
                        &.disabled{
                            background-color: #C9C9C9;
                            cursor: auto;
                            &:hover{
                                background-color: #C9C9C9;
                            }
                        }
                    }
                    .btn-default{
                        border:2px solid $color-soccer-coach;
                        &:hover{
                            border:2px solid #208994;
                        }
                    }
                    .link{
                        @include blue-link;
                        @include font-s-sbold;
                    }
                }
            }
    
            .add-exercice{
                margin-top: 15px;
                display: flex;
                justify-content: flex-end;
                width: 100%;
                height: auto;
                .btn{
                    &.disabled{
                        background-color: #C9C9C9;
                        cursor: auto;
                        &:hover{
                            background-color: #C9C9C9;
                        }
                    }
                }
            }
    
            .lst-exerices{
                margin-top: 32px;
                min-height: 45vh; //TODO mis car le footer ne reste pas en bas
                &.vide{
                    height: 300px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:$color-border-designer;
                    @include font-m-sbold;
                    font-family: $font-family-text;
                    svg{
                        font-size: 1.5em;
                    }
                }

                .exercice-item{
                    min-height: 100px;
                    padding: 25px;
                    //background: #FDFDFD;
                    background-color: transparent;
                    box-shadow: 1px 1px 4px rgba(201, 201, 201, 0.4);
                    border-radius: 5px;
                    border:1px solid rgba(201, 201, 201, 0.4);
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 10px;;
                    position: relative;
                    margin-bottom: 10px;

                    &.exercice-vide{
                        height: 100px;
                        display: flex;
                        align-items: center;
                        color:$color-black-fonts-second;   
                        @include font-m-sbold;
                        font-family: $font-family-text;
                        p{
                            @include font-xm-sbold;
                            color:#858585;
                            margin-bottom:0;
                        }
                    }   

                    .exercice-description{
                        h4{
                            @include h4;
                            color:$color-black-fonts;
                            margin-top:0;
                            margin-bottom: 14px;
                            padding-bottom: 5px;
                            border-bottom:2px solid $color-soccer-coach;
                        }
                        p{
                            @include font-xm;
                            color:#5C5C5C;
                            margin-top: 16px;
                            font-family: $font-family-text;
                        }
                        .time-players{
                            .icon-text{
                                @include icon-text;
                            }
                        }
                    }

                    .exercice-image{
                        img{
                            height: 100%;
                            width: 100%;
                            border-radius: 5px;
                        }
                    }
                    
                    .exercice-options{
                        position: absolute;
                        top:10px;
                        right: 10px;
                        color:$color-icons-designer;
                        cursor: pointer;
                    }

                    .exercice-options-list{
                        position: absolute;
                        top:30px;
                        right: -50px;
                        background-color: #FBFBFB;
                        border-radius: 5px;
                        box-shadow: 1px 1px 4px 1px rgba(201, 201, 201, 0.25);
                        border:1px solid rgba(201, 201, 201, 0.25);
                        z-index: 40;
                        >div{
                            cursor: pointer;
                            @include font-xm-mbold;
                            padding: 8px 20px;
                            font-family: $font-family-text;
                            color:$color-black-fonts-second;
                            &:hover{
                                background-color: #D4EEF1;
                            }
                            &:not(:last-child){
                                border-bottom:1px solid $color-border-designer;
                            }
                        }
                    }

                    .exercice-number{               
                        position: absolute;
                        top: -10px;
                        right: 2px;
                        height: 30px;
                        width: 30px;
                        background-color: #1DA78F;
                        color: $color-white-fonts;
                        border-radius: 50%;
                        font-style: normal;
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: bold;
                        font-family: Open Sans;
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                        box-shadow: 1px 1px 4px rgba(201, 201, 201, 0.4);                    
                    }
                }
            }

            .actions-download{
                display: grid;
                grid-template-columns: 1fr 1fr;
                h4{
                    margin: 0;
                }
                .telecharger{
                    margin-top: 10px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    color:$color-soccer-coach;
                    font-size: 24px;
                    cursor: pointer;
                    
                    @media screen and (max-width: $screen-sm) {
                        display: none;
                    }
                }
                .btn-download-pdf{
                    display: none;
                    margin-bottom: 30px;
                    @media screen and (max-width: $screen-sm) {
                        display: block;
                    }
                }

                @media screen and (max-width: $screen-sm) {
                    grid-template-columns: 1fr;
                }
            }

            .seance-generated{
                box-shadow: 1px 1px 4px rgba(201, 201, 201, 0.4);
                border-radius: 5px;
                border:1px solid rgba(201, 201, 201, 0.4);
                padding: 10px;
                .informations-seance{
                    h4{
                        color:black;
                        border-bottom: 2px solid $color-soccer-coach;
                        padding-bottom: 5px;
                    }
                    .infos-seance{
                        .icon-text{
                            @include icon-text;
                            .label{
                                color:black;
                            }
                            color:#5C5C5C !important;
                        }
                    }
                    
                }
                

                .lst-exerices{
                    .exercice-item{
                        box-shadow: none;
                        border-color:$color-gris-2;
                        .exercice-description{     
                            h4{
                                color:black;
                                border-bottom:2px solid $color-soccer-coach;
                                padding-bottom: 5px;
                            }
                            .icon-text{
                                @include icon-text;
                                .label{
                                    color:black;
                                }
                                color:#5C5C5C !important;
                            }
                            p{
                                margin-top: 16px;
                                color:#1F1F1F;
                            }
                        }
                    }
                }
            }
        }

        
        @media screen and (max-width: $screen-sm) {
            grid-template-columns: 1fr;   
            .steps{
                border-right: none;
                border-bottom: 1px solid $color-border-designer; 
                padding: 20px;
                display: block;
                .steps-content{
                    text-align: left;
                    .lst-steps{
                        display: flex;
                        justify-content: center;
                        .lst-steps-content{
                            display: flex;
                            .step{                       
                                &:not(:last-child){      
                                    &::after{
                                        display: none;
                                    }
                                }
                                .step-content{ 
                                    &::after{
                                        content: '';
                                        height: 5px;
                                        width: 60px;
                                        background-color: $color-gris-1;
                                        display: block;
                                        margin-top: 23px;
                                    }
                                    .name{
                                        display: none;
                                    }
                                }
            
                                &.completed{
                                    .step-content{        
                                        &::after{
                                            background-color: $color-soccer-coach;
                                        }
                                    }
                                }
    
                                &:last-child{
                                    .step-content{ 
                                        &::after{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .content{
                padding: 20px;
                .lst-exerices{
                    .exercice-item{
                        grid-template-columns: 1fr;
                        grid-row-gap: 10px;
                        .exercice-description{
                            grid-row: 2;
                        }
                        .exercice-image{
                            grid-row: 1;
                        }
                        .exercice-options-list{
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}