.dashboard{
    padding: 20px;
    p{
        @include font-m;
        color:$color-black-fonts-second;
        font-family: $font-family-text;
    }
    a{
        text-decoration: none;
        @include font-xm;
        color:$color-black-fonts-second;
        font-family: $font-family-text;
    }
    .actions-section{
        margin-top: 50px;
        display: flex;
        .form-group .form-control{
            margin-bottom: 0;
        }
        .btn-add{
            margin-left: 20px;
            display: flex;
            align-items: flex-end;
            .btn-default{
                height: 50px;
            }
        }
    }
    .exercices{
        margin-top: 50px;
        .vide{
            @include font-m;
            font-family: $font-family-text;
            color:$color-black-fonts-second;
        }
        .liste-exercices{
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 16px;
            margin-bottom: 30px;
            @media screen and (max-width: $screen-sm) {
                grid-template-columns: 1fr;
            }
            .item-exercice{
                width: 273px;
                height: 340px;
                background: $color-white-background;
                box-shadow: 1px 1px 5px 1px rgba(201, 201, 201, 0.4);
                border-radius: 5px;
                cursor: pointer;
                @media screen and (max-width: $screen-sm) {
                    width: 100%;
                    height: 320px;;
                }
                
                /*@media screen and (max-width: $screen-sm) {
                    width: 100%;
                    height: 500px;;
                    .img{
                        height: 400px;
                    }
                }*/
                .img{
                    width: 100%;
                    height: 200px;
                    img{
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .description{
                    padding: 20px;
                    h4{
                        color:$color-black-fonts;
                        margin: 0;
                    }
                    p{
                        @include font-s;
                        color:$color-black-fonts-second;
                        margin: 0;
                        font-family: $font-family-text;
                        margin-top: 14px;
                    }
                    .footer-description{
                        margin-top: 14px;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        >div{
                            display: flex;
                            align-items: center
                        }
                        .icon-text{
                            @include font-s-bold;
                            font-family: $font-family-text;
                            color:#858585;
                            svg{
                                color:#22C77B;
                                margin-right: 5px;
                            }
                        }
                        .type{
                            justify-content: flex-end;
                            @include font-s-bold;
                            font-family: $font-family-text;
                            color:#0E2650;
                            >div{
                                padding: 2px 10px;
                                background-color: #A7BFE9;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .form-content{
        margin-top: 50px;
        padding: 0px 300px;
        .image-upload{
            @include image-upload;
            svg{
                margin-right: 5px;
            }
        }
        .actions{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
        .form-control-textarea{
            margin-bottom: 16px;
        }
    }
}