.player-details{
    .player-details-header{
        background-color: $color-secondary-4;
        color:$color-white-fonts;
        position: relative;  
        padding: 20px;
        height: 20px;

        .menu-actions{
            right: 20px;
            .btn-show-actions{
                button{
                    color:$color-white-fonts;
                }
            }
        }

        .back{
            position: absolute;
            left: 20px;
            cursor: pointer;
        }
    }
    .details-content{
        padding: 0 !important;
        .details-player{
            background-color: $color-secondary-4;
            padding: 50px 20px 10px 20px;        
            box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.1) inset;
            h2,h3{
                color:#E9E9E9;
            }
            h2{
                @include h2;
            }
            h3{
                @include h3;
            }
            position: relative;
        }
        .other-infos-player{
            background-color: $color-white-background;
            padding: 30px 20px;
            @include font-m-sbold;
            color:$color-black-fonts;
        }
    }
}