.error-page{
    height: 70vh;
    .page-content{
        font-family: $font-family-text;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        h2{
            @include h1;
        }
        .error-code{
            font-size: 10rem;
            color:$color-soccer-coach;
        }
    }
}