.help-page{
    //display: grid;
    //grid-template-columns: 315px 1fr;
    position: relative;
    min-height: 100vh;
    .menu-help{
        border-right: 1px solid $color-border;
        padding: 50px 50px 50px 100px;
        font-family: $font-family-text;
        position: fixed;
        left: 0;
        height: 100%;
        width: 165px;

        .item-principal{
            h4{
                color: $color-black-fonts-second;
                font-weight: 400;
                cursor: pointer;
                svg{
                    margin-right: 10px;
                }
                &:hover{
                    color:$color-soccer-coach;
                }
            }
            
            &.active{
                h4{
                    font-weight: 800;
                }
            }

            .items-secondaires{
                padding: 0 0 0 25px;
                .item{
                    margin-bottom: 10px;
                    a{
                        @include font-xm;
                        color: $color-black-fonts-second;
                        text-decoration: none;
                        cursor: pointer;
                        padding: 7px;

                        &:hover{
                            color:$color-soccer-coach;
                        }
                    }
                    &.selected{
                        a{
                            color:$color-soccer-coach;
                            background-color: $color-blue-blackground-clair;
                        }
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .content-help{
        min-height: 100vh;
        padding: 55px 50px;
        margin-left: 315px;
        h2{
            color:$color-black-fonts;
            @include h2;
            margin-top: 0;
            border-bottom: 3px solid $color-soccer-coach;
            max-width: 90%;
        }
        .help-page-content{
            font-family: $font-family-text;
            p{
                margin: 16px 0; 
                color:$color-black-fonts-second;
                @include font-m;   
                &.center{
                    margin: 32px 0;
                }
            }
            ul{
                margin: 16px 0; 
                color:$color-black-fonts-second;
                @include font-xm; 
            }
            h1,h2,h3,h4{
                color:$color-black-fonts;
            }
            .content-page{
                width: 100%;
                h3{
                    border-bottom: 3px solid #208994;
                    max-width: 40%;
                }
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    box-shadow: 0px 4px 10px rgba(201, 201, 201, 0.6);
                }
            }
        }
    }
}