.landing-page{
    position: relative;

    .btn-top{
        display: none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
        background-color: #10444A;         
        border-radius: 50%;
        color:$color-white-fonts;
        border: 1px solid $color-white-fonts;
        z-index: 801;
        cursor: pointer;
        font-size: 1.3em;
        &:hover{
            font-size: 1.5em;
        }
        margin-top: 20px;

        .btn-top-content{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    h2{
        @include h1;
        color:$color-black-fonts;
        text-align: center;
        margin-bottom: 32px;
        margin-top:32px;
    }

    h3{
        color:$color-black-fonts;
        margin-top:0px;
    }

    p{
        @include font-l;
        color:$color-black-fonts-second;
        font-family: Open Sans;
    }

    .hero-image{
        height: 70vh;
        background-color: $color-blue-blackground;
        //background: url('../../assets/images/image-background.jpg');  
        //background-repeat: no-repeat;     
        //background-size: 100% 100vh;
        padding: 0px 100px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 20;
        > div{
            width: 50%;
        }
        .description{
            display: flex;
            align-items: center;
            .description-content{
                h1{
                    color:$color-white-background;
                    margin-top: 0;
                    margin-bottom: 0;
                    .accent{
                        color:$color-soccer-coach;
                    }
                }
                p{
                    @include h3;
                    color: #D4EEF1;
                    line-height: normal;
                    margin-top: 20px;
                }
                .action-btn{
                    margin-top: 40px;
                }
            }
        }
        .carrousel{
            display: flex;
            align-items: center;
            .carrousel-images{
                margin-left: 60px;
                height: auto;
                .slider-component{
                    .sliders{
                        .images{
                            height: auto;
                            img{
                                height: auto;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: $screen-sm) {
                .carrousel-images{
                    margin-left: 0;
                    .slider-component{
                        .sliders{
                            .images{
                                height: auto;
                            }
                        }
                    }
                }
            }
        }   

        @media screen and (max-width: $screen-sm) {
            margin-top: 147px;
            padding: 60px 20px;
            height: auto;

            > div{
                width: 100%;
            }

            .description{
                margin-bottom: 50px;
                display: block;
                text-align: center;
                
                .description-content{
                    p{
                        font-size: 20px;
                    }
                }
            }

        }

        @media screen and (max-width: $screen-xs) {
            padding: 60px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .description{
                margin-bottom: 50px;
                width: 100%;
            }
        }
    }

    /*.btn-bottom{
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
        top: -20px;
        .bottom{
            height: 50px;
            width: 50px;
            background-color: #10444A;         
            border-radius: 50%;
            color:$color-white-fonts;
            text-align: center;
            line-height: 65px;
            cursor: pointer;
        }
    }*/

    .copyrigth1{
        padding: 50px 100px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 20px;
        background: url('../../assets/images/background-copyrigth1.jpg');  
        background-repeat: no-repeat;     
        background-size: 100% 100%;
        .copyrigth1-image{
            img{
                width: 300px;
                height: auto;
            }
        }
        .copyrigth1-text{
            padding: 0px 50px;
        }
        p{
            &.profitez{
                text-align: center;
                font-weight: 600;
            }
        }
        @media screen and (max-width: $screen-sm) {
            padding: 20px;
            grid-template-columns: 1fr;
            background: $color-white-background;
            .copyrigth1-image{
                display: none;
            }
        }
    }

    .nos-outils{
        //margin-top: 100px;
        //background-color: $color-blue-blackground;
        padding: 100px 50px;
        h2{
            color:$color-white-fonts;
        }
        .outils{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
            height: auto;
            @media screen and (max-width: $screen-sm) {
                display: block;
            }
            .outil{
                background-color: #f3f3f3;
                padding: 30px 20px;
                border-radius: 5px;
                box-shadow: 0px 2px 8px 1px #D1D1D1;
                cursor: pointer;
                &:hover{
                    box-shadow: 0px 2px 8px 1px #bebebe;
                }
                h3{
                    text-align: center;
                    color:$color-black-fonts;
                }
                .outil-logo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 200px;
                        width: 200px;
                    }
                }
                .outil-content{
                    margin-top: 20px;
                    @include font-m;
                    font-family: Open Sans;               
                    color: $color-black-fonts-second;
                    text-align: center;
                    height: 100px;
                }
                .outil-actions{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                }
            }
        }

        @media screen and (max-width: $screen-sm) {  
            padding: 32px 20px 64px 20px;
            .outils{
                .outil{
                    &:not(:last-child){
                        margin-bottom: 50px;
                    }

                    .outil-content{
                        height: auto;
                    }
                }
            }
        }
    }

    .copyrigth-outils{
        background-color: $color-gris-4;
        .item-copy{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 60px;
            background-color: $color-white-background;
            padding:  100px;
            
            &:not(:first-child){
                margin-top: 2px;
                @media screen and (max-width: $screen-sm) {  
                    padding: 60px 20px;
                }
            }

            .description-item{
                display: flex;
                align-items: center;
                .description-item-content{
                    h2{
                        color:$color-black-fonts;
                        text-align: left;
                        margin-top: 0;
                    }
                    p{
                        @include font-m;
                    }
                    .actions-item{
                        margin-top: 30px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }

            .carrousel-item{
                display: flex;
                align-items: center;
                .carrousel-images{
                    height: auto;
                    width: 100%;

                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        border-radius: 5px;
                        
                        box-shadow: 0px 4px 10px rgba(201, 201, 201, 0.6);
                    }
                }
            }

            @media screen and (max-width: $screen-sm) {
                grid-template-columns: 1fr;
                grid-row-gap: 0px;
                padding: 60px 20px;

                .description-item{
                    grid-row: 2;
                    
                    .description-item-content{
                        width: 100%;
                        .actions-item{
                            .btn{
                                width: 100%;
                            }
                        }
                    }
                }
                .carrousel-item{
                    grid-row: 1;
                    .carrousel-images {
                        height: auto;
                        margin-bottom: 30px;
                        .slider-component .sliders .images{
                            height: 234px;
                        }
                    }
                }
            }

            &.createur-seances{
                .description-item{
                    grid-column: 2;
                    grid-row: 1;
                }
                .carrousel-item{
                    grid-column: 1;
                    grid-row: 1;
                }
                @media screen and (max-width: $screen-sm) {
                    .description-item{
                        grid-column: 1;
                        grid-row: 2;
                    }
                    .carrousel-item{
                        grid-column: 1;
                        grid-row: 1;
                    }
                }
            }
        }
    }

    .copyrigth-exercices{
        padding: 50px;
        position: relative;   
        text-align: center;
        /*background: url('../../assets/images/background_exercices.jpg');  
        background-repeat: no-repeat;     
        background-size: 100% 100%;*/
        background-color: $color-white-background;
        @media screen and (max-width: $screen-sm) {
            padding: 50px 20px;

            .texte{
                h2{
                    margin: 0;
                }
            }
        }
        .image{
            position: absolute;
            top:100px;
            left: 150px;

            
            img{
                height: 150px;
                width: 150px;
            }
        }
        .texte{
            h2{
                color:$color-black-fonts;
            }
            p{
                @include font-l;
                color: $color-black-fonts-second;
            }
        }
        .message-btn{
            margin-top: 30px;
            a{
                display: inline-block
            }
        }

        .exercices-categories{
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            >a{
                text-decoration: none;      
                color:$color-black-fonts;
                @include font-m-sbold;
                font-family: $font-family-text;
                .content-category{
                    padding: 50px 0;
                    text-align: center;
                    border:1px solid #cfd9e0;
                    border-radius: 5px;
                    cursor: pointer;
                    @media screen and (max-width: $screen-sm) {
                        padding: 20px 0;
                    }
                    &:hover{
                        border-color: $color-gris-3;
                    }
                    .icon-category{
                        margin-bottom: 20px;
                        img{
                            width: 50px;
                            height: 100%;
                        }
                    }
                }
            }
    
        }
    }

    .copyrigth-essoccercoach{
        padding: 50px;
        background-color: $color-blue-blackground;
        //border-top:1px solid $color-black-fonts-second;
        @media screen and (max-width: $screen-sm) {    
            padding-top: 50px;
        }
        .images-essoccercoach{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: auto;
            background: $color-white-background;
            .image-item{
                height: auto;
                background-color: $color-blue-blackground-clair;
                padding: 60px 20px;
                img{
                    height: auto;
                    width: 100%;
                    border-radius: 5px;
                }
            }
            
            @media screen and (max-width: $screen-sm) {
                display: none;
                h2{
                    margin-top: 0;
                }
            }
        }
        .description-essoccercoach-texte{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 100px;
            @media screen and (max-width: $screen-sm) {
                grid-template-columns: 1fr;
                grid-gap: 10px;
            }
            .description-texte{
                h2{
                    text-align: left;
                    color:$color-soccer-coach;
                    margin-top: 0;
                }
                p{
                    text-align: justify;
                    color:$color-white-fonts;
                }
            }
            .task-list{
                display: flex;
                align-items: center;
                >div{
                    p{
                        color:$color-white-fonts;
                        margin-bottom: 20px;
                        .fa-check{
                            color:$color-secondary-1;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

    .exercices-populaires{
        padding: 50px;
        background-color: $color-blue-blackground-clair;
        @media screen and (max-width: $screen-sm) {
            padding: 60px 20px;
        }
        h3{
            .fa-star{
                color: $color-yellow;
                margin-left: 5px;
            }
            margin-bottom: 20px;
        }
        p{
            @include font-m-sbold;
        }
        .exercices-actions{
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            .fa-caret-right{
                margin-left: 0px;
            }
            .blue-link{
                text-decoration: none;
                padding: 5px 8px;
                &:hover{
                    background-color: #A9DDE3;
                    border-radius: 3px;
                }
            }
        }
    }

    .copyrigth2{
        height: auto;
        padding: 100px 200px;
        text-align: center;
        background-color: #E9E9E9;
        position: relative;

        @media screen and (max-width: $screen-sm) {
            padding: 0;
            .message{
                h2{
                    margin: 0;
                }
                padding: 140px 20px;
            }
        }

        .message{
            position: relative;
            z-index: 2;
            h2{
                color:$color-black-fonts;
            }
            p{
                color:$color-black-fonts-second;
            }
            .compteur{
                margin-top: 50px;
                color:$color-blue-blackground;
                font-family: Open Sans;
                .exercices-compteur{
                    span{
                        @include h2;
                        font-weight: 500;
                        &.number{
                            @include h1;
                            font-weight: 600;
                        }
                    }
                    
                    text-align: center;
                }
            }
            .message-btn{
                margin-top: 30px;
                a{
                    display: inline-block
                }
            }
        }

        .icon-img1{
            position: absolute;
            bottom: 30px;
            left: 30px;
            @media screen and (max-width: $screen-sm) {
                bottom: 25px;
                left: 10px;
            }
            img{
                height: 200px;
                width: 200px;
                @media screen and (max-width: $screen-sm) {
                    height: 90px;
                    width: 90px;
                }
            }
        }

        .icon-img2{
            position: absolute;
            top: 30px;
            right: 30px;
            @media screen and (max-width: $screen-sm) {
                top: 25px;
                right: 10px;
            }
            img{
                height: 200px;
                width: 200px;
                
                @media screen and (max-width: $screen-sm) {
                    height: 90px;
                    width: 90px;
                }
            }
        }

        /*&::before{
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.6;
            background-image: url('../../assets/images/soccer3.jpg'); 
            background-repeat: no-repeat;
            background-position: 50% 0;
            //background-size: cover;
            background-size: 100% 100%;
        }*/
    }

    .reseaux-sociaux{
        background-color: #167D6B;
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
        @media screen and (max-width: $screen-sm) {
            grid-column-gap: 50px;
        }
        .image-reseau{
            img{
                width: 150px;
                
                @media screen and (max-width: $screen-sm) {
                    width: 100px;
                }
            }
            justify-self: flex-end;
        }

        h3{
            color:$color-white-fonts;
        }
        .list-resaux{
            >div{
                display: flex;
                grid-column-gap: 10px;
                img{
                    width: 50px;
                    height: auto;
                    @media screen and (max-width: $screen-sm) {
                        width: 30px;
                    }
                }
            }
        }
    }
}