.login-page{
    h3{
        color:$color-black-fonts;
        margin-top: 0;
    }
    padding: 50px 480px;

    .form-content{
        background-color: $color-blue-blackground-clair;
        box-shadow: 2px 2px 5px 1px rgba(201, 201, 201, 0.7);
        padding: 20px;
        border-radius: 5px;
        .actions{
            margin-top: 16px;
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
}