.teams-page{
    padding: 0!important;
    position: relative;
    .club{
        margin-top: 0;
        padding-top: 0;
        color:$color-gris-2;
    }

    .addNewTeam{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: auto;
        background-color: #f7f7f7;

        .btn{
            margin: 20px;
        }
        
        .select-teams{
            position: absolute;
            right: 20px;
            top:60px;
            border-radius: 5px;     
            background-color: #FBFBFB;
            box-shadow: 1px 1px 4px 1px rgba(201, 201, 201, 0.25);
            border:1px solid rgba(201, 201, 201, 0.25);
            z-index: 40;
            width: auto;
            >div{
                cursor: pointer;
                @include font-xm-mbold;
                padding: 8px 20px;
                font-family: $font-family-text;
                color:$color-black-fonts-second;
                text-align: center;
                &:hover{
                    background-color: #D4EEF1;
                }
                &:not(:last-child){
                    border-bottom:1px solid $color-border-designer;
                }
            }
        }
    }

    .infos-team{
        padding: 20px;
        position: relative;
        h4{
            margin: 0;
        }
        .actions-team{
            position: absolute;
            top:20px;
            right: 20px;
            color: $color-gris-2;
            cursor: pointer;
        }
    }

    .options-team, .options-team-mobile{
        display: none;
        border-bottom: 1px solid #E9E9E9;
        border-top: 1px solid #E9E9E9;
        .option-team{
            padding: 10px 5px;
            text-align: center;
            @include font-xm-sbold;
            color:$color-text-onglets;
            font-family: $font-family-text;
            cursor: pointer;
            &.active{
                border-bottom: 3px solid $color-border-bottom-onglet;
                font-weight: 900;
                color:#505050
            }
            
            @media screen and (min-width: $screen-md) {
                padding: 10px 30px;
            }
        }
    }
    .options-team-mobile{
        @media screen and (max-width: $screen-sm) {     
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .option-team{
            .label-option{
                font-size: 10px;
                font-family: Lato;
            }
        }
    }
    .options-team{
        @media screen and (min-width: $screen-md) {     
            display: flex;
        }
    }
    .content-option-team{
        padding: 20px;
        h4{
            color:$color-black-fonts-second;
        }
        height: auto;
        .content-actions{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            .btn-add-player{
                @include font-s-bold;
                background-color: $color-secondary-1;
                padding: 0;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: $color-secondary-1-hover;
                }
            }
        }
        .option-content{
            .coach, .player, .activity{
                @include font-xm;
                color:$color-black-fonts;
                padding: 10px 0;
                border-bottom: 1px solid #E9E9E9;
                cursor: pointer;
                padding-left: 10px;
                font-family: $font-family-text;
            }
            .coach, .player{
                .role{
                    @include font-xm;
                    color:$color-black-fonts-second;
                }
                &:hover{
                    background-color: #E9E9E9;
                }
            }
        }
    }
    .content-empty-team{
        padding: 20px;
        .empty-team{
            border:1px solid $color-background-onglets;
            padding: 20px;
            border-radius: 5px;
            @include font-xm;
            color:#dedede;
            font-family: $font-family-text;
            text-align: center;
        }
    }

    .actions-options{
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        width: 100%;

        .content-options{
            position: absolute;
            bottom: 0;
            background-color: $color-white-background;
            width: 100%;
            transition: all .5s;
            .item-option{
                padding: 15px 20px;
                border-bottom: 1px solid #E9E9E9;
                color:$color-black-fonts;
                @include font-xm;
                display: grid;
                grid-template-columns: 1fr 4fr;
            }
        }
    }
}