
@mixin h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 43px;
    @media screen and (max-width: $screen-sm) {
        font-size: 25px;
        line-height: normal;
    }
}

@mixin h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 43px;
    @media screen and (max-width: $screen-sm) {
        font-size: 20px;
        line-height: normal;
    }
}

@mixin h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 43px;
    @media screen and (max-width: $screen-sm) {
        font-size: 18px;
        line-height: normal;
    }
}

@mixin h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    @media screen and (max-width: $screen-sm) {
        font-size: 14px;
        line-height: normal;
    }
}

@mixin font-s {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-s-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-s-bold {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

@mixin font-s-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-s-mbold {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-xm {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-xm-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-xm-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-xm-mbold {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-m {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

@mixin font-l {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
@mixin font-l-sbold {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
@mixin font-l-bold {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
@mixin font-l-mbold {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

@mixin font-m-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

@mixin font-m-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

@mixin font-m-mbold {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

@mixin btn-default{
    padding: 15px 24px;
    background: $color-soccer-coach;
    border-radius: 5px;
    font-family: Open Sans;
    color: $color-white-fonts;
    border: none;
    @include font-m-bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    &:hover{
        background-color: #208994;
    }
    &:focus{
        outline:none;
        box-shadow: 1px 1px 4px rgba(32, 137, 148, 0.5);
    }
    &.inactive{
        background-color: $color-gris-1;
        color:$color-gris-2;
    }
    &.active{
        border: 1px solid #18676F;
    }
    
    &.disabled{
        background-color: #C9C9C9;
        cursor: auto;
        &:hover{
            background-color: #C9C9C9;
        }
    }
}

@mixin btn-default-ghost{
    padding: 15px 24px;
    background: transparent;
    border-radius: 5px;
    border:2px solid #c7bcbc;
    font-family: Open Sans;
    color: $color-black-fonts-second;
    @include font-m-bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    &:hover{
        border:2px solid #8d8787;
    }
    &:focus{
        outline:none;
    }
    &.inactive{
        background-color: $color-gris-1;
        color:$color-gris-2;
    }

}

@mixin btn-secondary{
    padding: 15px 24px;
    background: #ED381C;
    border-radius: 5px;
    font-family: Open Sans;
    color: $color-white-fonts;
    @include font-m-bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    &:hover{
        background-color: #BE2D16;
    }

}

@mixin btn-secondary2{
    padding: 15px 24px;
    background: #22C77B;
    border-radius: 5px;
    font-family: Open Sans;
    color: $color-white-fonts;
    @include font-m-bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    &:hover{
        background-color: #1B9F62;
    }

}

@mixin blue-link {
    color: $color-blue-obscur-1;
    @include font-m-sbold;
    text-decoration: underline;
    cursor: pointer;
    font-family: Open Sans;
}

@mixin form-group {
    display: block;
    .label-control{
        @include font-m-bold;
        color:#5C5C5C;
        font-family: $font-family-text;
    }
    .form-control{
        margin-top: 16px;
        height: 50px;
        width: 100%;
        background: #FDFDFD;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 5px;
        @include font-m;
        font-family: $font-family-text;
        color:$color-black-fonts;
        &:focus{
            outline: none;
            border:2px solid #646464;
        }
        margin-bottom: 16px;
        &:-internal-autofill-selected{
            background-color: #FDFDFD !important;
        }
        &.error{
            border:1px solid $color-red;
        }
    }

    .form-control-textarea{
        margin-top: 16px;
        height: 100px;
        width: 100%;
        background: #FDFDFD;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 5px;
        @include font-m;
        font-family: $font-family-text;
        color:$color-black-fonts;
        resize: none;
        &:focus{
            outline: none;
            border:2px solid #646464;
        }
    }
}

@mixin form-group-flex {
    display: flex;
    .label-control{
        @include font-m-bold;
        color:#5C5C5C;
        font-family: $font-family-text;
    }
    .form-control{
        margin-top: 16px;
        height: 50px;
        width: 100%;
        background: #FDFDFD;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 5px;
        @include font-m;
        font-family: $font-family-text;
        color:$color-black-fonts;
        &:focus{
            outline: none;
            border:2px solid #646464;
        }
    }
}

@mixin icon-text {
    &:not(:last-child){
        margin-right: 10px;
    }
    svg{
        color:#1DA78F;
        font-size: 13px;
        margin-right: 5px;
    }
    span{
        @include font-s-sbold();
        font-family: Lato;
        color:#858585;
    }
}

@mixin image-upload{
    position: relative;
    padding: 10px 24px;
    background: transparent;
    border-radius: 5px;
    border:2px solid $color-soccer-coach;
    font-family: Open Sans;
    color: $color-soccer-coach;
    @include font-m-bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;

    &.with-image{
        background-color: #A7E9CA;
        border:2px solid #22C77B;
        color:#0E5031;
    }

    .file-upload{
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 50;
        top: 0;
        left: 0;
    }

    .file-upload-message{
        position: relative;
        z-index: 20;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1em;
        color: $color-soccer-coach;

        .preview-image{
            color:$color-border;
            font-size: 0.5rem;
        }
    }

    
    &:hover{
        background-color: $color-soccer-coach;
        color:$color-white-fonts !important;
    }

}