
@mixin h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 43px;
}

@mixin h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 43px;
}

@mixin h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 43px;
}

@mixin h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
}

@mixin font-s {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-s-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-s-bold {
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

@mixin font-s-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-s-mbold {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

@mixin font-xm {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-xm-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-xm-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-xm-mbold {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

@mixin font-m {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

@mixin font-l {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
@mixin font-l-sbold {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
@mixin font-l-bold {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
@mixin font-l-mbold {
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

@mixin font-m-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

@mixin font-m-sbold {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

@mixin font-m-mbold {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

@mixin btn-default{
    padding: 10px 24px;
    background: $color-soccer-coach;
    border-radius: 5px;
    font-family: Open Sans;
    color: $color-white-fonts;
    border: none;
    @include font-m-bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    &:hover{
        background-color: #208994;
    }
    &:focus{
        outline:none;
        box-shadow: 1px 1px 4px rgba(32, 137, 148, 0.5);
    }
    &.inactive{
        background-color: $color-gris-1;
        color:$color-gris-2;
    }
    &.active{
        border: 1px solid #18676F;
    }
}

@mixin btn-default-ghost{
    padding: 10px 24px;
    background: transparent;
    border-radius: 5px;
    border:2px solid $color-soccer-coach;
    font-family: Open Sans;
    color: $color-soccer-coach;
    @include font-m-bold;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    &:hover{
        background-color: $color-soccer-coach;
        color:$color-white-fonts;
    }
    &:focus{
        outline:none;
        box-shadow: 1px 1px 4px rgba(32, 137, 148, 0.5);
    }
    &.inactive{
        background-color: $color-gris-1;
        color:$color-gris-2;
    }
}

@mixin blue-link {
    color: $color-blue-obscur-1;
    @include font-m-sbold;
    text-decoration: underline;
    cursor: pointer;
    font-family: Open Sans;
}

@mixin form-group {
    display: block;
    .label-control{
        @include font-m-bold;
        color:#5C5C5C;
        font-family: $font-family-text;
    }
    .form-control{
        margin-top: 16px;
        height: 50px;
        width: 100%;
        background: #FDFDFD;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 5px;
        @include font-m;
        font-family: $font-family-text;
        color:$color-black-fonts;
        &:focus{
            outline: none;
            border:2px solid #646464;
        }
    }
}

@mixin form-group-flex {
    display: flex;
    .label-control{
        @include font-m-bold;
        color:#5C5C5C;
        font-family: $font-family-text;
    }
    .form-control{
        margin-top: 16px;
        height: 50px;
        width: 100%;
        background: #FDFDFD;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 5px;
        @include font-m;
        font-family: $font-family-text;
        color:$color-black-fonts;
        &:focus{
            outline: none;
            border:2px solid #646464;
        }
    }
}