//colors
$color-soccer-coach: #28ABB9;
$color-white-background:#FDFDFD;
$color-white-fonts:#FBFBFB;
$color-black-fonts:#333333;
$color-black-fonts-second:#5C5C5C;
$color-blue-blackground:#10444A;
$color-gris-1:#C9C9C9;
$color-gris-2:#646464;
$color-gris-3:#979797;
$color-gris-4:#C4C4C4;
$color-border:$color-gris-3;
$color-secondary-1:#1DA78F;
$color-blue-blackground-clair:#EEF8F9;
$color-yellow:#BAA616;
$color-blue-obscur-1:#208994;
$color-icons-designer:$color-black-fonts-second;
$color-border-designer:#D4D3D3;
$color-background-onglets:#E9E9E9;
$color-text-onglets:#797878;
$color-border-bottom-onglet: $color-gris-4;

$color-red: #ED381C;
$color-yellow: #EDD634;
$color-blue: #3411ED;
$color-black: #333333;
$color-green: #09BA04;
$color-white: #FBFBFB;
$color-orange:#f18419;
$color-gardien-green:#3CAA35;
$color-gardien-orange:#A86F35;
$color-gardien-mauve:#A53590;
$color-white:#D4D3D3;


$font-family-text:Open Sans;

$screen-xs-s:                  320px !default;

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

$screen-lg-x:                  1600px !default;