footer{
    height: auto;
    background-color: $color-soccer-coach;
    position: relative;
    .content-footer{
        padding: 20px 100px;
        color:$color-black-fonts;
        display: flex;
        flex-wrap: wrap;
        .mail{
            width: 50%;
            h3{
                margin: 0;
                line-height: normal;
                margin-bottom: 10px;
            }
            .fa-envelope{
                margin-right: 10px;
            }
            .mailto{
                @include font-m;
                margin: 0;
                font-family: Open Sans;
                color:$color-black-fonts;
                text-decoration: none;
            }
        }
        .reseaux{
            width: 50%;
            font-size: 24px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .liste-reseaux{
                a{
                    &:not(:first-child){
                        margin-left: 10px;
                    }
                }
            }
        }
        
        @media screen and (max-width: $screen-sm) {          
            padding: 20px 20px;
            .mail, .reseaux{
                width: 100%;
            }

            .reseaux{
                margin-top: 15px;
                justify-content: start;
            }
        }

    }
    .copyrigth-footer{
        font-family: Open Sans;
        width: 100%;
        background-color: #18676F;
        height: 40px;
        color: $color-white-fonts;
        text-align: center;
        @include font-s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}