footer{
    height: auto;
    background-color: #18676F;
    position: relative;
    .content-footer{
        padding: 50px 100px 10px 100px;
        color:$color-white-fonts;
        display: flex;
        flex-wrap: wrap;
        .liste-services{
            width: 70%;
            display: flex;
            h4{
                margin: 0;
                line-height: normal;
                margin-bottom: 10px;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            >div{
                margin-right: 80px;
                .liste{
                    a{
                        display: block;
                        @include font-m;
                        font-family: $font-family-text;
                        cursor: pointer;
                        margin-bottom: 10px;
                        text-decoration: none;
                        color:$color-white-fonts;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }

            .contact{
                
                .fa-envelope{
                    margin-right: 10px;
                }
                .mailto{
                    @include font-m;
                    margin: 0;
                    font-family: Open Sans;
                    color:$color-white-fonts;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .doc{
                    margin-top: 20px;
                    a{
                        display: block;
                        @include font-m;
                        font-family: $font-family-text;
                        cursor: pointer;
                        margin-bottom: 10px;
                        text-decoration: none;
                        color:$color-white-fonts;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .reseaux{
            width: 30%;
            font-size: 24px;
            display: flex;
            justify-content: flex-end;
            
            .img{
                margin-bottom: 10px;
                img{
                    height: 150px;
                    width: 100px;
                }
            }
            .liste-reseaux{
                display: flex;
                justify-content: center;
                a{
                    cursor: pointer;
                    &:not(:first-child){
                        margin-left: 10px;
                    }
                }
            }
        }
        
        @media screen and (max-width: $screen-sm) {          
            padding: 20px 20px;
            .mail, .reseaux{
                width: 100%;
            }

            .reseaux{
                margin-top: 15px;
                justify-content: start;
            }
        }

    }
    .infolettre{
        @include font-xm-bold;
        color:$color-white-fonts;
        font-family: $font-family-text;
        padding: 20px 100px 20px 100px;
        display: flex;
        justify-content: center;
        p{
            margin-bottom: 0;
        }

        .email-send{
            .form-control{
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-right-color: transparent;
                @include font-xm;
            }

            .btn-default{
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                height: 50px;
                margin-top: 16px;
            }
        }
        .infolettre-succes {
            @include font-xm;
            text-align: center;
        }
    }
    .copyrigth-footer{
        font-family: Open Sans;
        width: 100%;
        background-color: #18676F;
        height: 40px;
        color: $color-white-fonts;
        text-align: center;
        @include font-xm;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 20px;
        span{
            margin-right: 100px;
        }
    }
}