/*.select-list{
    position: absolute;
    bottom: 0;
    width: 400px;
    background-color: #FBFBFB;
    border-radius: 5px;
    color:$color-black-fonts;
    border:1px solid rgba(201, 201, 201, 0.5);
    padding: 20px;
}*/