$anmiation: mymove 3s infinite;
.squelet-exerice{
    .liens{
        .lien{
            width: 200px;
            height: 20px;
            background-color: $color-gris-1;
            border-radius: 10px;
            animation: $anmiation;
        }
    }
    .liste-exercices{
        .item-exercice{
            .image{
                background-color: $color-gris-3;
                width: 100%;
                height: 200px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            .description{
                .titre{
                    width: 100%;
                    height: 20px;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation
                }
                .infos{
                    margin-top: 14px;
                    width: 100%;
                    height: 60px;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation
                }
            }
        }
    }
}

.squelet-details-exercice{
    .description-infos{     
        .infos{
            .infos-content{
                width: 100%;
                .links-way{
                    width: 200px;
                    height: 20px;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                    margin-bottom: 20px;
                }
                .title{
                    width: 250px;
                    height: 40px;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                    margin-bottom: 15px;
                }
                .description{
                    width: 100%;
                    height: 200px;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                }
                .footer-description{
                    margin-top: 20px;
                    display: flex;;
                    .nbPlayers{
                        display: flex;
                        align-items: center;
                        width: 50%;
                        >div{
                            width: 70px;
                            height: 40px;
                            background-color: $color-gris-1;
                            border-radius: 10px;
                            animation: $anmiation;
                        }
                    }
                    .type{
                        width: 50%;
                        display: flex;
                        justify-content: flex-end;
                        >div{
                            width: 70px;
                            height: 40px;
                            background-color: $color-gris-1;
                            border-radius: 20px;
                            animation: $anmiation;
                        }
                    }
                }
            }
        }
        .image{
            .img{
                width: 100%;
                height: 100%;
                background-color: $color-gris-1;
                border-radius: 5px;
                animation: $anmiation;
                @media screen and (max-width: $screen-sm) {
                    height: 200px;
                }
            }
        }
    }
    .description-infos-2{
        >div{
            border-top: none !important;
            width: 100%;
            height: 300px;
            background-color: $color-gris-1;
            border-radius: 5px;
            animation: $anmiation;
        }
    }
}

.squelet-landing-page{
    .hero-image{
        background: $color-white-background !important;
        align-items: center;
        .description{
            .description-content{
                width: 100%;
                .titre{
                    height: 30px;
                    width: 90%;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                    margin-bottom: 20px;
                }
                .description-p{
                    height: 200px;
                    width: 90%;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                }
                .action-btn{
                    height: 50px;
                    width: 180px;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                }
            }
        }
        .carrousel{
            .carrousel-images{
                width: 100%;
                .image{
                    height: 300px;
                    width: 100%;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                }
            }
        }
    }
    .copyrigth1{
        height: 300px;
        .content-copy1{
            background-color: $color-gris-1;
            border-radius: 10px;
            animation: $anmiation;
            margin-bottom: 20px;
            height: 100%;
            width: 100%;
        }
    }
    .exercices-populaires{
        .titre{
            height: 30px;
            width: 30%;
            background-color: $color-gris-1;
            border-radius: 10px;
            animation: $anmiation;
            margin-bottom: 20px;
        }
        .liste-exercices{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            .item-exercice{
                background-color: $color-gris-1;
                border-radius: 10px;
                animation: $anmiation;
                min-width: 25%;
                height: 244px;
            }
        }
    }
    .nos-outils{
        background-color: $color-white-background!important;
        .title{
            display: flex;
            justify-content: center;
            >div{
                height: 30px;
                width: 300px;
                background-color: $color-gris-1;
                border-radius: 10px;
                animation: $anmiation;
            }
            margin-bottom: 30px;
        }
        .outils{
            .outil{
                .outil-logo{
                    .image{
                        height: 100px;
                        width: 100px;
                        background-color: $color-gris-1;
                        border-radius: 10px;
                        animation: $anmiation;
                        margin-bottom: 20px;
                    }
                }
                .outil-content{
                    height: 120px;
                    width: 100%;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                    margin-bottom: 20px;
                }
                .outil-actions{
                    .btn{      
                        height: 50px;
                        width: 180px;
                        background-color: $color-gris-1;
                        border-radius: 10px;
                        animation: $anmiation;
                    }
                }
            }
        }
    }
    .copyrigth-outils{
        .item-copy{
            .description-item{
                .description-item-content{
                    width: 100%;
                    .title{
                        background-color: $color-gris-1;
                        border-radius: 10px;
                        animation: $anmiation;
                        height: 30px;
                        width: 80%;
                        margin-bottom: 20px;
                    }
                    .para{
                        background-color: $color-gris-1;
                        border-radius: 10px;
                        animation: $anmiation;
                        height: 180px;
                        width: 80%;
                    }
                    .actions-item{
                        background-color: $color-gris-1;
                        border-radius: 10px;
                        animation: $anmiation;
                        height: 50px;
                        width: 200px;
                    }
                }
            }
        }
        .carrousel-item{
            .carrousel-images{
                width: 100%;
                .image{
                    height: 300px;
                    width: 100%;
                    background-color: $color-gris-1;
                    border-radius: 10px;
                    animation: $anmiation;
                }
            }
        }
    }
}

@keyframes mymove {
    from {background-color: $color-gris-1;}
    to {background-color: $color-gris-3;}
}