.exercices-carrousel{
    margin-top: 32px;
    .exercice-item{
        width: 273px;
        height: 244px;
        margin-right: 20px;
        background: $color-white-background;
        box-shadow: 1px 1px 5px 1px rgba(201, 201, 201, 0.4);
        border-radius: 5px;
        .image-exercice-item{
            background-color: green;
            height: 70%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .description-exercice-item{
            padding: 10px;
            h4{
                color: $color-black-fonts;
                margin: 0;
            }
        }
    }
}